.description {
  /*display: flex;*/
  /*flex-direction: center;
  flex-direction: column;*/
  background-color: #86C4D3;

}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.row img {
  margin-left: 10px;
}

img {
  display: flex;
  flex-direction: center;
  max-width: 350px;
  max-height: 350px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
